:root{
    --fuentePrincipal: 'Tomorrow';
    --fuenteSecundaria: 'Open Sans';
    --colorPrincipal: ;
    --colorSecundario: ;
}
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: var(--fuentePrincipal);
}
p{
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
}
h1{
    font-size: 2.8rem;
    font-weight: bold;
}
h2{
    font-size: 2.4rem;
    font-weight: bold;
}
h1,h2{
    text-align: center;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.boton{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 4rem auto;
    padding: 1rem;
    background-color: rgb(211, 210, 210);
    border-radius: 2px;
    display: block;
    width:fit-content;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}
.boton:hover{
    cursor: pointer;
    transition: all 0.3ms ease-out;
    background-color: rgb(147, 147, 147);
}

.visible{
    display: block;
}

/* Main */
.header{
    background-image: url(../img/Dados_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 1rem;
    max-height: 320px;
}
.header__navegacion{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.header__navegacion--enlace{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.header__navegacion--enlace:hover{
    transition: all 0.3ms ease-out;
    text-decoration: underline;
}
.reiniciar{
    border: 2px solid black;
    border-radius: 3px;
    padding: 3px;
}
.formulario{
    max-width: 800px;
    margin: 3rem auto;
}
.formulario fieldset{
    margin: 0;
    padding: 0;
    height: 170px;
    border: none;
}
.legend_form{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.nombre_form{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0;
    font-size: 1.4rem;
}
.enviar_datos{
    display: flex;
    justify-content: space-evenly;
}
.contenedorBotones{
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 0;  
}
.contenedor_section_footer{
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,178,109,0.29939308487066707) 100%); 
}
.section{
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.inicio_juego{
    display: none;
}
.section__organizador{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__img{
    margin: 0 auto;
    max-width: 7rem;
}
.section__img img{
    width: 95%;
}

.tablaPuntuacion{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    line-height: 2;
    list-style: decimal;
}
.tablaPuntuacion2{
    height: 200px;
}


/* Footer */
.footer{
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}